Repository micronaut-projects/micronaut-aws, pull requests merged in 2022-09, with the labels that each got.

#1444 doc: api-proxy supports only payload 1.0
  src/main/docs/guide/lambda/applicationtyperuntimedependencies.adoc
  src/main/docs/guide/lambda/lambdatriggers.adoc
  src/main/docs/guide/lambda/requestHandlers.adoc
Labels: type: docs

#1434 Log context initialization errors
  function-aws/src/main/java/io/micronaut/function/aws/MicronautRequestHandler.java
  function-aws/src/main/java/io/micronaut/function/aws/MicronautRequestStreamHandler.java
Labels: type: improvement

#1453 use Micronaut version catalogue
  aws-alexa-httpserver/build.gradle
  aws-alexa-httpserver/build.gradle.kts
  aws-alexa/build.gradle
  aws-alexa/build.gradle.kts
  aws-bom/build.gradle
  aws-bom/build.gradle.kts
  aws-cdk/build.gradle.kts
  aws-common/build.gradle
  aws-common/build.gradle.kts
  aws-distributed-configuration/build.gradle
  aws-distributed-configuration/build.gradle.kts
  aws-parameter-store/build.gradle
  aws-parameter-store/build.gradle.kts
  aws-sdk-v1/build.gradle
  aws-sdk-v1/build.gradle.kts
  aws-sdk-v2/build.gradle
  aws-sdk-v2/build.gradle.kts
  aws-secretsmanager/build.gradle
  aws-secretsmanager/build.gradle.kts
  aws-service-discovery/build.gradle
  aws-service-discovery/build.gradle.kts
  build.gradle
  build.gradle.kts
  function-aws-alexa/build.gradle
  function-aws-alexa/build.gradle.kts
  function-aws-api-proxy-test/build.gradle
  function-aws-api-proxy-test/build.gradle.kts
  function-aws-api-proxy/build.gradle
  function-aws-api-proxy/build.gradle.kts
  function-aws-custom-runtime/build.gradle
  function-aws-custom-runtime/build.gradle.kts
  function-aws-test/build.gradle
  function-aws-test/build.gradle.kts
  function-aws/build.gradle.kts
  function-client-aws/build.gradle
  function-client-aws/build.gradle.kts
  gradle/libs.versions.toml
  settings.gradle
  settings.gradle.kts
  test-suite-groovy/build.gradle
  test-suite-groovy/build.gradle.kts
  test-suite-kotlin/build.gradle
  test-suite-kotlin/build.gradle.kts
  test-suite/build.gradle
  test-suite/build.gradle.kts
Labels: relates-to: build

#1454 Switch to using catalog discovery client
  aws-distributed-configuration/build.gradle.kts
  aws-parameter-store/build.gradle.kts
  aws-service-discovery/build.gradle.kts
Labels: relates-to: build

#1455 Documentation for Api Gateway Management API factory beans
  src/main/docs/guide/sdkv2/apiGatewayManagementApi.adoc
  src/main/docs/guide/toc.yml
Labels: type: docs

#1438 Cloudwatch logging
  aws-cloudwatch-logging/build.gradle.kts
  aws-cloudwatch-logging/src/main/java/io/micronaut/aws/cloudwatch/logging/CloudWatchJsonFormatter.java
  aws-cloudwatch-logging/src/main/java/io/micronaut/aws/cloudwatch/logging/CloudWatchLoggingAppender.java
  aws-cloudwatch-logging/src/main/java/io/micronaut/aws/cloudwatch/logging/CloudWatchLoggingClient.java
  aws-cloudwatch-logging/src/main/java/io/micronaut/aws/cloudwatch/logging/package-info.java
  aws-cloudwatch-logging/src/test/groovy/io/micronaut/aws/cloudwatch/logging/CloudWatchLoggingAppenderSpec.groovy
  aws-cloudwatch-logging/src/test/groovy/io/micronaut/aws/cloudwatch/logging/CloudwatchLoggingSpec.groovy
  aws-cloudwatch-logging/src/test/java/io/micronaut/aws/cloudwatch/logging/MockAppender.java
  aws-cloudwatch-logging/src/test/resources/application.yml
  aws-cloudwatch-logging/src/test/resources/logback.xml
  aws-sdk-v2/build.gradle.kts
  aws-sdk-v2/src/main/java/io/micronaut/aws/sdk/v2/service/cloudwatchlogs/CloudwatchLogsClientFactory.java
  aws-sdk-v2/src/test/groovy/io/micronaut/aws/sdk/v2/service/CloudWatchLogsClientSpec.groovy
  gradle/libs.versions.toml
  settings.gradle.kts
  src/main/docs/guide/sdkv2/cloudWatchLogging.adoc
  src/main/docs/guide/sdkv2/cloudWatchLogging/browsingTheLogs.adoc
  src/main/docs/guide/sdkv2/cloudWatchLogging/emergencyAppender.adoc
  src/main/docs/guide/sdkv2/cloudWatchLogging/logbackConfiguration.adoc
  src/main/docs/guide/sdkv2/cloudWatchLogging/openTelemetryAndLogging.adoc
  src/main/docs/guide/sdkv2/cloudWatchLogging/setCloudWatchLogging.adoc
  src/main/docs/guide/toc.yml
  src/main/docs/resources/img/logs.png
Labels: type: enhancement

#1462 Cross reference to Micronaut Object Storage
  src/main/docs/guide/sdkv2/s3.adoc
Labels: type: docs
